<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Hersteller erstellen</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">

        <div class="btn-group mt-3" role="group">
            <a href="{% url 'mainindex' %}" class="btn btn-outline-secondary">
                <i class="bi bi-house-door"></i> Startseite
            </a>
            <a href="{% url 'barcodes_list' %}" class="btn btn-outline-secondary">
                <i class="bi bi-arrow-back"></i> Barcodeliste
            </a>
            <a href="{% url 'device_list' %}" class="btn btn-outline-secondary">
                Geraeteliste
            </a>
            <a href="{% url 'search_manufacturer' %}" class="btn btn-outline-secondary">
                Herstellerliste
            </a>
        </div>

        <h1 class="mt-5">Neuen Hersteller erstellen</h1>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success">Erstellen</button>
            <a href="{% url 'search_manufacturer' %}" class="btn btn-outline-danger">
                Abbrechen
            </a>
        </form>
    </div>
</body>
</html>
