<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerät bearbeiten</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Gerät bearbeiten</h1>
        <div class="card mt-4">
            <div class="card-header bg-primary text-white">
                Bearbeitung: {{ geraetetyp.modellbezeichnung }}
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="text-center mt-4">
                        <button type="submit" class="btn btn-success"><i class="bi bi-check-circle"></i>Speichern</button>
                        <a href="{% url 'show_device' geraetetyp.geraetetypid %}" class="btn btn-outline-danger"><i class="bi bi-x-circle"></i>Abbrechen</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
