<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hersteller erstellen</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <div class="mt-4 text-left">
            <a href="{% url 'mainindex' %}" class="btn btn-outline-secondary">Startseite</a>
        </div>
        <div class="card shadow">
            <div class="card-header bg-primary text-white text-center">
                <h2>Neues Ger&auml;t erstellen</h2>
            </div>
            <div class="card-body">
                <!-- Erfolgsmeldungen -->
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-success" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                
                <!-- Formular -->
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        {{ form.as_p }}  <!-- Alle Felder werden sauber gerendert -->
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-success ">Erstellen</button>
                        <a href="{% url 'suche_hersteller' %}" class="btn btn-outline-danger">Abbrechen</a>
                    </div>
                </form>
            </div>
        </div>
        
    </div>
</body>
</html>
