<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Geräte Liste</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Geräte Liste</h1>

        <div class="row mt-4 align-items-center">
            <!-- Zurück-Button am linken Rand -->
            <div class="col-md-2 text-start">
                <a href="{% url 'mainindex' %}" class="btn btn-outline-secondary"><b>Startseite</b></a>
            </div>

        <!-- Suchleiste -->
        <div class="col-md-8 d-flex justify-content-center">
            <form method="get" class="d-flex w-75">
                <input type="text" name="q" placeholder="Gerät suchen..." value="{{ query }}" class="form-control me-2">
                <button type="submit" class="btn btn-primary">Suchen</button>
            </form>
        </div>

        <div class="col-md-2 text-end">
            <a href="{% url 'suche_hersteller' %}" class="btn btn-outline-primary">+ Ger&auml;t</a>
        </div>

        </div>

        <div class="row mt-4 align-items-center">

        <!-- Geräte-Tabelle -->
        <table class="table table-striped mt-4">
            <thead class="thead-dark">
                <tr>

                    <th>Hersteller</th>
                    <th>Modellbezeichnung</th>
                    <th>Anleitungslink</th>
                    <th>Anzeigen</th>
                </tr>
            </thead>
            <tbody>
                {% for g in geraete %}
                <tr>
                    <td>{{ g.herstellerid }}</td>
                    <td>{{ g.modellbezeichnung }}</td>
                    <td>
                    {% if g.anleitungslink %}
                        <a href="{{ g.anleitungslink }}" target="_blank" class="btn btn-sm btn-primary">Anleitung öffnen</a>
                    {% else %}
                        <span class="text-muted">Keine Anleitung verfügbar</span>
                    {% endif %}
                    </td>
                    <td><a href="{% url 'show_device' g.geraetetypid %}" class="btn btn-sm btn-primary">Ger&auml;t anzeigen / bearbeiten</a></td>
                    <td><a href="{% url 'generate_barcodes' g.geraetetypid %}" class="btn btn-sm btn-primary">+</a></td>

                </tr>
                {% empty %}
                <tr>
                    <td colspan="3" class="text-center">Keine Geräte gefunden.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
