<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Gruppe erstellen</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-3">
        {% include 'snippets/breadcrumbs.html' %}
        {% block content %}
        {% endblock %}
    </div>
    <div class="container">
        <!-- Zurück-Button -->
        {% if previous_url %}
        <div class="btn-group" role="group">
            <a href="{% url 'suche_hersteller'%}" class="btn btn-outline-secondary mt-3">Zurück</a>
            <a href="{% url 'group_list'%}" class="btn btn-outline-secondary mt-3">Gruppenliste</a>
            <!-- <a href="{{ previous_url }}" class="btn btn-outline-secondary mt-3">Zurück</a> -->
        </div>
        {% else %}
        <div class="btn-group" role="group">
            <a href="{% url 'mainindex' %}" class="btn btn-outline-secondary mt-3">Startseite</a>
            <a href="{% url 'group_list'%}" class="btn btn-outline-secondary mt-3">Gruppenliste</a>
        </div>
        {% endif %}

        <h1 class="mt-5">Neue Gruppe erstellen</h1>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <!--<form method="post">
            {% csrf_token %}
            {{ form.name.label_tag }}
                {{ form.name }}
            <button type="submit" class="btn btn-primary">Erstellen</button>
        </form> -->

        <form method="post" class="mt-4">
            {% csrf_token %}
            <div class="mb-3">
                <label for="name" class="form-label">Name:</label>
                <input type="text" id="name" name="name" class="form-control" placeholder="Name eingeben">
            </div>
            <button type="submit" class="btn btn-primary">Weiter</button>
        </form>

    </div>
</body>
</html>
