<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LVSW PROJECT v1.0</title>
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <!-- Header Section -->
        <div class="text-center mb-5">
            <h1>Willkommen</h1>
            <p class="lead">Willkommen zum LVSW-Project!</p>
            <p class="text-muted">Erstellt von qwersumme in 2024</p>
        </div>

        <!-- Data-Management Section -->
        <section class="mb-5">
            <h2>Daten Management</h2>
            <div class="row mt-4">
                <div class="col-md-4">
                    <a href="{% url 'barcodes_list' %}" class="btn btn-primary btn-lg btn-block">Barcode</a>
                </div>
                <div class="col-md-4">
                    <a href="{% url 'kunden_liste' %}" class="btn btn-primary btn-lg btn-block">Kunde</a>
                </div>
                <div class="col-md-4">
                    <a href="{% url 'group_list' %}" class="btn btn-primary btn-lg btn-block">Gruppen</a>
                </div>
            </div>
        </section>

        <!-- Device-Management Section -->
        <section class="mb-5">
            <h2>Ger&auml;te Management</h2>
            <div class="row mt-4">
                <div class="col-md-6">
                    <a href="{% url 'select_status' %}" class="btn btn-primary btn-lg btn-block">Barcodestati setzen</a>
                </div>
            </div> 
        </section>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.4.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
