<!-- myindex.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LVSW PROJECT v1.0</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Welcome</h1>
        <p class="text-center">Welcome to LVSW-Project!</p>
        <p class="text-center text-muted">Created by qwersumme in 2024</p>

        <div class="col-md-4 mb-4">
            <a href="{% url 'barcodes_liste' %}" class="btn btn-primary btn-block">Barcode</a>
        </div>

        <h1>Debuging</h1>
        <!-- Buttons Group -->
        <div class="row text-center mt-4">
            <!-- Manufacturers Section -->
            <div class="col-md-4 mb-3">
                <a href="{% url 'hersteller_liste' %}" class="btn btn-secondary btn-block">Manufacturers</a>
                <a href="{% url 'hersteller_erstellen' %}" class="btn btn-outline-secondary btn-block mt-2">Create Manufacturer</a>
            </div>
            
            <!-- Devices Section -->
            <div class="col-md-4 mb-3">
                <a href="{% url 'geraete_liste' %}" class="btn btn-secondary btn-block">Devices</a>
                <a href="{% url 'suche_hersteller' %}" class="btn btn-outline-secondary btn-block mt-2">Create Device</a>
            </div>

            <div class="col-md-4 mb-3">
                <a href="{% url 'barcodes_liste' %}" class="btn btn-secondary btn-block">BarcodesListe</a>
                <a href="{% url 'generate_barcodes' 2 %}" class="btn btn-outline-secondary btn-block mt-2">Create Barcode</a>
                <a href="{% url 'select_status'%}" class="btn btn-outline-secondary btn-block mt-2">Set States on Barcodes</a>
            </div>
            
            

            
            <!-- Add more sections if needed -->
        </div>
    </div>
</body>
</html>

